Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

.godot/
.import/
export.cfg
export_presets.cfg

ai.local.json
*.local.json
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# macos

.DS_Store
.AppleDouble
.LSOverride
